<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>community master/server</title>
    <style>
        body {
            background-image: url(/images?image=game_BG_tiled_small);
            background-repeat: repeat;

            color: white!important;
        }
        button {
            color: black!important;
        }
        #video {
            width:1024px;
            height:576px;
        }
    </style>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $.ajaxSetup({cache: false});

        var search = window.location.search;
        var debug = false;
        if (search.indexOf("&") != -1) {
            search = search.split("&");
            var param1 = search[0].split("=");
            var param2 = search[1].split("=");
            param1 = param1[1];
            param2 = parseInt(param2[1]);
            debug = true;
        }

        var source = new EventSource("/updates", {withCredentials: false});

        //mediacounter is passed to client, so only for current event can be voted.
        var mediaCounter = 1;
        var gameData = null;
        var currentStateId = "";

        var _sympathy = 0;
        if (debug === true) {
            var currentStateId = param1;
            _sympathy = param2;
        }

        $.get("/data").then(function (data) {
            gameData = data;
            console.log(gameData);
            if (currentStateId.length == 0) {
                currentStateId = gameData.start;
            }
            doGameLoop();
        });

        source.addEventListener("ping", function(event) {
            console.log("ping event received");
        });

        source.addEventListener("vote", function (event) {
            var data = JSON.parse(event.data);

            var sumAnswers = data.answers.yes + data.answers.no;
            $("#answers-yes").css("width", (Math.round((data.answers.yes / sumAnswers) * 100)) + "%");
            $("#answers-no").css("width", (Math.round((data.answers.no / sumAnswers) * 100)) + "%");
            $("#answers-yes").text(data.answers.yes);
            $("#answers-no").text(data.answers.no);
        }, false);


        var voteLoopGard = false;
        source.addEventListener("end", function (event) {
            console.log("voting ended event.");
            $("#answers").show();
            $("#voting").hide();
            //blocks the process for 5 seconds and continues with evaluation -> next video.
            setTimeout(function () {

                $("#answers").hide();
                var current;
                var finalAnswer = "";
                if (parseInt($("#answers-yes").css("width")) > 65) {
                    current = gameData[currentStateId].yes;
                    finalAnswer = "yes";
                } else if (parseInt($("#answers-no").css("width")) > 65) {
                    current = gameData[currentStateId].no;
                    finalAnswer = "no";
                } else {
                    current = gameData[currentStateId].maybe;
                    finalAnswer = "maybe";
                    if (current.voteAgain === true && voteLoopGard === false) {
                        console.log("redo voting");
                        voteLoopGard = true;
                        startVoting(11);
                        $("#answers-yes").css("width", "50%");
                        $("#answers-no").css("width", "50%");
                        return;
                    } else {
                        voteLoopGard = false;
                    }
                }
                if (gameData[currentStateId][finalAnswer].nextMedia.indexOf("end_") != -1) {
                    calcAndPlayEnd(finalAnswer, gameData[currentStateId][finalAnswer].nextMedia);
                    return;
                }
                currentStateId = current.nextMedia;
                _sympathy = _sympathy + current.sympathy;

                $("#answers-yes").css("width", "50%");
                $("#answers-no").css("width", "50%");

                doGameLoop();

            }, 5000);

        }, false);

        function startVoting(votingTime) {
            console.log("start voting: " + mediaCounter);
            $.post('/triggerVoting', {
                mediaCounter: mediaCounter++,
                votingTime: votingTime
            });
            $("#voting").show()
        }
        function doGameLoop() {
            startNextVideo(currentStateId);
        }
        function startNextVideo(video, final) {
            console.log("start video: " + video);
            $("#videoSource").attr("src", "/videos?video=" + video);
            $("#video").load();
            $("#video").get(0).play();
            console.log("video started");
            $("#video").bind("ended", function (event) {
                console.log("video ended");
                $('video').unbind('ended');
                if (!final) {
                    startVoting(10);
                }
            });
        }
        function calcAndPlayEnd(finalAnswer, nextMedia) {
            var finalVideo = "";
            console.log(_sympathy);
            if (finalAnswer === "no") {
                if (_sympathy >= 0) {
                    var temp1 = nextMedia.split(",")[0];
                    finalVideo = temp1.substring(4, temp1.length);
                } else {
                    var temp2 = nextMedia.split(",")[1];
                    finalVideo = temp2.substring(4, temp2.length);
                }
            } else {
                finalVideo = nextMedia.substring(4, nextMedia.length);
            }
            startNextVideo(finalVideo, true);
        }
    </script>
</head>
<body>
<div id="voting" style="display:none">voting started!</div>
<div class="center">
    <video id="video" preload="auto">
        <source id="videoSource" src="" type="video/mp4"/>
    </video>
</div>

<div class="progress" id="answers" style="display:none">
    <div class="progress-bar progress-bar-success" id="answers-yes" style="width: 50%">
        <span class="sr-only">50% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-danger" id="answers-no" style="width: 50%">
        <span class="sr-only">50% Complete (warning)</span>
    </div>
</div>

</body>
</html>