<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>community master/server</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $.ajaxSetup({cache: false});

        var search = window.location.search;
        search = search.split("&");
        var param1 = search[0].split("=");
        var param2 = search[1].split("=");
        param1 = param1[1];
        param2 = parseInt(param2[1]);

        var source = new EventSource("/updates", {withCredentials: false});

        //mediacounter is passed to client, so only for current event can be voted.
        var mediaCounter = 0;
        var gameData = null;
        var currentStateId = "";

        var _sympathy = 0;

        if (param1.length > 0 || param2 > 0) {
            var currentStateId = param1;
            var points = param2;
        }

        $.get("/data").then(function (data) {
            gameData = data;
            console.log(gameData);
            if (currentStateId.length == 0) {
                currentStateId = gameData.start;
            }
            doGameLoop();
        });


        source.addEventListener("vote", function (event) {
            var data = JSON.parse(event.data);

            //console.log("received voting");

            $("#nrconnections").text(data.clients);
            var sumAnswers = data.answers.yes + data.answers.no;
            $("#answers-yes").css("width", (Math.round((data.answers.yes / sumAnswers) * 100)) + "%");
            $("#answers-no").css("width", (Math.round((data.answers.no / sumAnswers) * 100)) + "%");
            $("#answers-yes").text(data.answers.yes);
            $("#answers-no").text(data.answers.no);
        }, false);


        var voteLoopGard = false;
        source.addEventListener("end", function (event) {

            console.log("end voting");
            setTimeout(function () {
            }, 5000);
            $("#answers").hide();
            var current;
            var finalAnswer = "";
            if (parseInt($("#answers-yes").css("width")) > 65) {
                current = gameData[currentStateId].yes;
                finalAnswer = "yes";
            } else if (parseInt($("#answers-no").css("width")) > 65) {
                current = gameData[currentStateId].no;
                finalAnswer = "no";
            } else {
                current = gameData[currentStateId].maybe;
                finalAnswer = "maybe";
                if (current.voteAgain === true && voteLoopGard === false) {
                    console.log("redo voting");
                    voteLoopGard = true;
                    startVoting(11);
                    $("#answers-yes").css("width", "50%");
                    $("#answers-no").css("width", "50%");
                    return;
                } else {
                    voteLoopGard = false;
                }
            }
            if (current.nextMedia === "end") {
                calcAndPlayEnd(finalAnswer);
                return;
            }
            currentStateId = current.nextMedia;
            _sympathy = _sympathy + current.sympathy;

            $("#answers-yes").css("width", "50%");
            $("#answers-no").css("width", "50%");

            doGameLoop();
        }, false);

        function startVoting(votingTime) {
            console.log("start voting: " + mediaCounter);
            $.post('/triggerVoting', {
                mediaCounter: mediaCounter++,
                votingTime: votingTime
            });
            $("#answers").show();
        }
        function doGameLoop() {
            startNextVideo(currentStateId);
        }
        function startNextVideo(video) {
            console.log("start video: " + video);
            $("#videoSource").attr("src", "/videos?video=" + video);
            $("#video").load();
            $("#video").get(0).play();
            $("#video").bind("ended", function (e) {
                startVoting(10);
            });
        }
        function calcAndPlayEnd(finalAnswer) {
            if (finalAnswer !== "maybe") {
                var final = gameData['end'][finalAnswer];
            } else {
                if (_sympathy >= 0) {
                    final = gameData['end'][finalAnswer][0];
                } else {
                    final = gameData['end'][finalAnswer][1];
                }
            }
            startNextVideo(final);
        }
    </script>
</head>
<body>
<div>nr connections</div>
<div id="nrconnections">0</div>
<div class="center">
    <video id="video" preload="auto" style="border: 1px solid black; width:480px; height:320px;">
        <source id="videoSource" src="" type="video/mp4"/>
    </video>
</div>

<button onclick="startVoting(10)">start dummy voting</button>

<div class="progress" id="answers" style="display:none">
    <div class="progress-bar progress-bar-success" id="answers-yes" style="width: 50%">
        <span class="sr-only">50% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-danger" id="answers-no" style="width: 50%">
        <span class="sr-only">50% Complete (warning)</span>
    </div>
</div>

</body>
</html>