<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tower Dungeon Community Game</title>

    <script src="components/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#customStartingPoint").change(function () {
                $("#gameLink").attr("href", "/game?customStartingPoint=" + $("#customStartingPoint").val());
            });
        });
    </script>
</head>
<body>

<input id="customStartingPoint" value="0" type="number">
<a id="gameLink" href="/game?customStartingPoint=0">
    <button>startGame</button>
</a>

</body>
</html>